asttokens==2.2.1
attrs==22.1.0
backcall==0.2.0
decorator==5.1.1
executing==1.2.0
fastjsonschema==2.16.2
import-ipynb==0.1.4
ipython==8.7.0
jedi==0.18.2
jsonschema==4.17.3
jupyter_core==5.1.0
matplotlib-inline==0.1.6
nbformat==5.7.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.6.0
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyrsistent==0.19.2
six==1.10.0
stack-data==0.6.2
traitlets==5.8.0
wcwidth==0.2.5
